/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'Berthold Akzidenz-Grotesk';
  src: url('../fonts/AkzidenzGroteskBE-MdEx.woff2') format('woff2'),
     url('../fonts/AkzidenzGroteskBE-MdEx.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Souvenir Std';
  src: url('../fonts/SouvenirStd-Light.woff2') format('woff2'),
     url('../fonts/SouvenirStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

* {
 box-sizing: border-box;
 transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

body {
 background-color: #F8F2E7;
 height: 100%;
 color: #12213b;
 height: 100%;
 background-image: url("../img/bg.png");
 background-size: contain;
 background-position: center;
}

h1 {
  font-family: 'Berthold Akzidenz-Grotesk';
  font-size: 45px;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 45px;
}

p {
  font-family: 'ITC Souvenir Std';
  font-size: 18px;
  margin-block-start: 4px;
  margin-block-end: 4px;
}

address {
  font-style: normal;
}

address p {
  margin-block-start: 4px;
  margin-block-end: 4px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 500ms;
}

a:hover {
  color: #ef3125;
}

.wrapper {
  padding: 20px;
}

.contain {
  width: 650px;
  min-height: 450px;
  position: relative;
  border: 5px solid #152C49;
}

.section {
  height: 100vh;
  width: 100%;
}

.logo {
  height: auto;
  width: 260px;
  margin: 20px 0;
}

.flag {
  width: 30px;
  margin-bottom: 24px;
}

.fab {
  margin: 0 6px;
  font-size: 22px;
}

.menu li:not(.no-style) {
  padding: 10px;
}

.menu a {
  font-family: 'ITC Souvenir Std';
  font-size: 18px;
  text-transform: uppercase;
}

.menu.is-fixed a {
  font-family: 'ITC Souvenir Std';
  font-size: 14px;
  text-transform: uppercase;
}


.menu .logo-sm {
  visibility: hidden;
  position: absolute;
  left: 20px;
  top: -10px;
  height: 40px;
  width: auto;
}

.menu .logo-x-sm {
  visibility: hidden;
  position: absolute;
  left: 25px;
  top: 0px;
  height: 20px;
  width: auto;
}

.menu.is-fixed .logo-x-sm {
  visibility: visible;
}


.is-flexbox-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
     -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
     -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.is-column {
  flex-direction: column;
}

.txt-center {
  text-align: center;
}

.no-list-style {
  /* display: inline-block; */
  list-style: none;
  padding-left: 0;
}

.no-list-style li:not(.no-style){
  display: inline;
}

.txt-s {
  font-size: 18px;
  margin-block-start: 4px;
  margin-block-end: 4px;
}

.txt-m {
  font-size: 23px;
  margin-block-start: 8px;
  margin-block-end: 8px;
}

.with-bg {
  background-image: url("../img/assiette2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.is-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: rgba(249, 242, 231, 0.8);
  border-bottom: 1px solid #152C49;
}

.is-fixed ul {
  position:relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}



 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  .menu.is-fixed .logo-sm {
    visibility: visible;
  }

  .menu.is-fixed .logo-x-sm {
    visibility: hidden;
  }

  .menu.is-fixed a {
    font-family: 'ITC Souvenir Std';
    font-size: 18px;
    text-transform: uppercase;
  }
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
